<h1>{{caption}}</h1>
<form action="{{link}}" method="{{method}}" id="newPost">
<label for="content">Post Content</label><br>
    <textarea id="content" rows="10" cols="75" name="content" form="newPost" placeholder="Enter Post Content Here..." ></textarea><br>
    <input type="submit" value="Post">
</form>
